<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hi</title>
  </head>
  <body>
    <form method="post" action="/display">
      Pls enter carage:<br>
      <input id = "carage" type="float" name = "carage"><br>
      enter some year:<br>
      <input id ="Year" type="integer" name = "Year"><br>
       Make:<br>
      <input id ="Make" type="string" name = "Make"><br>
      Model:<br>
      <input id ="Model" type="string" name = "Model"><br>
      <input type="submit" value="Submit">
      </form>
  </body>
</html>
