<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="../static/js/index.js"></script>
    <title>Input Car Data</title>
  </head>
  <body>
    <h1>Calculate Your CarSpan</h1>
    <div id="inputCar">
      <img id = "currentImage" src="../static/images/carImages/outline.png">
      <form method="post" action="/show-info">
      Your car's milage here:<br>
      <input id = "Mileage" type="float" name = "Mileage"><br>
      The year your car was manufactured here:<br>
      <input id ="Year" type="integer" name = "Year"><br>
        <label for="carType">Your Car Type:<br></label>
        <select id="carType" onchange="setPicture();" name="carType">
          <option value="../static/images/carImages/outline.png">Select a Car</option>
          <option value="../static/images/carImages/micro.jpg">Micro</option>
          <option value="../static/images/carImages/sedan.jpg">Sedan</option>
          <option value="../static/images/carImages/cuv.jpg">CUV</option>
          <option value="../static/images/carImages/suv.jpg">SUV</option>
          <option value="../static/images/carImages/hatchback.jpg">Hatchback</option>
          <option value="../static/images/carImages/roadster.jpg">Roadster</option>
          <option value="../static/images/carImages/pickup.jpg">Pickup</option>
          <option value="../static/images/carImages/van.jpg">Van</option>
          <option value="../static/images/carImages/coupe.jpg">Coupe</option>
          <option value="../static/images/carImages/supercar.jpg">Supercar</option>
          <option value="../static/images/carImages/cabriolet.jpg">Cabriolet</option>
          <option value="../static/images/carImages/minivan.jpg">Minivan</option>
        </select>
        <input type="submit" value="Go!">
        </input>
      </form>
    </div>
   </body>
</html>
