<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <h1> Car Age: {{carAge}} years old <h1>
      <!-- <img src= "{{img_url}}" width= "300px" height= "300px"> -->
      <h2> Year: {{year}} <h2>
      <p> {{info}} </p>
      <p> Click below to find future repair information for your car! </p>
        <form method="post" action="/show-info">
          <input type="submit" value="Go!">
          </input>
        </form>
  </body>
</html>
